.blog-page__title-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.blog-page__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 22px;
  row-gap: 16px;
}